<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/welcome.css">
    <link rel="shortcut icon" href="#">
</head>
<body>
<div id="loggedUser">
<h2> Hello {{username}}!</h2>

  <a id="logout" href="logout">Logout</a>

<div>
</body>
</html>
